<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oi&family=Reggae+One&display=swap" rel="stylesheet">

  <title>Hello, world!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style="font-family: 'Reggae One', cursive;" class="navbar-brand" href="#">CODEFORCES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>



  <div class="row details-main">

    <div class="col-lg-4">
      <div class="card  our-card" style="margin: 1% auto; ;">
        <div style="text-align: left;">
          <img style="margin-top: 20px; max-width: 40%;" src="/images/undraw_male_avatar_323b.svg" class="card-img-top"
          alt="...">
          <h4  style="letter-spacing: 1px; font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif; display: inline; margin-left: 20px;"><%=username%></h4>
  
        </div>
        <div  style=" font-family:Georgia, 'Times New Roman', Times, serif; margin-top: 20px; " class="card-body">
          <p>Rating   : <%=rating%>
          </p>
          <p>Max Rating   : <%=maxrating%>
          </p>
          <p>Rank   : <%=rank%>
          </p>
          <p>Max Rank   : <%=maxrank%>
          </p>
          <p>Friend Count   : <%=friends%>
          </p>

        </div>
      </div>
    </div>

    <div class="col-lg-8 details ">
      <canvas style="max-height: 500px;" id="myChart"></canvas>
    </div>

  </div>




  <!-- <% for(var i=0;i<newitem.length;i++){ %>
    <div class="innerbox col-lg-4">
      <h3>
        Container <%=i+1 %> is : <%=newitem[i]%>
      </h3>
    </div>
    <br>
    <%}%> -->



    <div style="font-size: 1rem; font-family:Georgia, 'Times New Roman', Times, serif;" class="container-fluid row overall">
      <div class="card overinner" style="width: 18rem;">
        <img src="/images/undraw_developer_activity_bv83.svg" class="card-img-top cardimg" alt="...">
        <div class="card-body">

          <p class="card-text">Practise problems that suite your level.</p>
          <a href="/problem.html" class="btn btn-primary">Practise</a>
        </div>
      </div>
      <div class="card overinner" style="width: 18rem;">
        <img src="/images/undraw_visual_data_b1wx.svg" class="card-img-top  cardimg" alt="...">
        <div class="card-body">
          <p class="card-text">View your past contest History. Compare with your friends.</p>
          <a href="#" class="btn btn-primary">Analyse</a>
        </div>
      </div>
      <div class="card overinner" style="width: 18rem;">
        <img src="/images/undraw_Scrum_board_re_wk7v.svg" class="card-img-top  cardimg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Compare</h5>
          <p class="card-text">Compare with your friends. Compare with your friends. Compare with your friends.
          </p>
          <a href="compare.html" class="btn btn-primary">Compare</a>
        </div>
      </div>
    </div>
  



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>



    var a = '<%-newitem%>'
    let data = []
    var b = ""
    for (var j = 0; j < a.length; j++) {
      if (a[j] == ',') {
        data.push(Number(b));
        b = ""
      }
      else {
        b += a[j];
      }
    }

    var c = '<%-newitem2%>'
    let label = []
    var d = ""
    for (var j = 0; j < c.length; j++) {
      if (c[j] == ',') {
        label.push(Number(d));
        d = ""
      }
      else {
        d += c[j];
      }
    }



    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {

      type: 'line',
      data: {
        labels: label,
        datasets: [{
          label: 'Rating',
          data: data,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

</body>

</html>